li{
   
    display: inline;
    padding:5px 20px ;
    margin:-5px;
    border:5px;
border-style: solid;
    background-color: grey;
    border-color: grey;
    color: honeydew;
    text-align: center;
    
}