li{

display: inline;
padding:5px 20px ;
margin: 2px;
border:5px;
border-style: solid;
background-color: orange;
border-color: orange;
text-align: center;
color: black;
text-transform: uppercase;
font-family:  sans-serif ;
}